.titulo-logo{
    font-size: 100%;
}

body{
    font-family: "Orbitron";
    font-weight: bolder;
}

.profile{
    display: flex;
    justify-content: center;
}

.form-box{
    max-width: 30%;
    align-items: center;
    justify-content: center;
    background-image: url('../img/tela-login.png');
    padding: 30px;
    border-radius: 15px;
    min-width: 300px;
}

.form-label{
    color: aliceblue;
}

.titulo{
    display: flex;
    margin: 20px;
    justify-content: center;
    font-size: 200%;
}

.subtitulo{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    font-size: 150%;
}

.botao{
    border-radius: 25px;
    background-color: #A96DA3;
    border-style: none;
    width: 50%;
    height: 45px;
    color: aliceblue;
    margin: 30px auto;
}

.img-cadastro{
    width: 30%;
    object-fit: cover;
    border-radius: 100%;
    border-width: 1px; 
    border-color: #30294e;
    border-style: dashed;
    margin-bottom: 20px;
}

.navbar-nav{
    width: 25%;
}

.btn{
    width: 120px;
}

.navbar-brand{
    color: #fff;
}
 
.btn{
    background-color: var(--botao);
    color: #fff;
    font-weight: bolder;
}