.btn-purple{background-color: purple;}
.btn-brown{background-color: brown;}
.btn-pink{background-color: #EB719F;}
.btn-magenta{background-color: #E03BBD;}
.btn-orange{background-color: #E06330;}
.btn-cyan{background-color: #61D3E0;}