.titulo-logo {
    font-size: 100%;
}

.btn-purple{
    background-color: purple;
}

.ferramentas-box {
    background-color: #F6C0CE;
    width: 15vw;
    height: 94vh;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    font-family: "Orbitron";
    font-weight: bolder;
}

.navbar-nav{
    width: 25%;
}

.btn-header{
    width: 120px;
    background-color: var(--botao);
    color: #fff;
    font-weight: bolder;
}

.navbar-brand{
    color: #fff;
    margin-left: 20px;
} 


.canvas-box{
    margin: 20px;
    border-style: double;
    border-width: 5px;
    border-color: #a96da3;
    height: 90vh;
    width: 90%;
}

.canvas{
    height: 100%;
    width: 100%;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.color-button {
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
    margin-bottom: 1vh;
}

.color-container {
    padding: 5px;
    align-items: center;
}

.size-button {
    background-color: gray;
    margin-bottom: 1vh; 
}

.img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: start;
    padding: 10px;
    width:180px;

}

.user-options.show {
    display: block;
}

.user-options ul{
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 90%;
}
/*Para celulares*/
@media(min-width: 320px) and (max-width: 767px ) {

    .main{
        padding: 0;
        flex-direction: column;
        justify-content: center;
    }
 
    .color-group, 
    .tool-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ferramentas-box{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: auto;
        padding: 2%;
    }

    .color-button{
        height: 4vh;
        width: 10vw;
    }

    .canvas-box{
        height: 65vh;
    }

    .navbar-nav{
        width: 50vw;
    }
}

/* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px) {

    .color-group, 
    .tool-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ferramentas-box{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }

    .color-button{
        height: 8vh;
        width: 6vw;
    }

    .canvas-box{
        height: auto;
    }

    .navbar-brand{
        margin-left: 20px;
    }
}

/* Telas maiores*/
@media (min-width: 1024px) {
    .color-button{
        height: 10vh;
        width: 6vw;
    }

    .size-button{
        width: 5vw;
        height: 5vw;
    }

    .btn-purple{
        width: 5vw;
        height: 5vw;
    }

}