.titulo-logo {
    font-size: 100%;
}

.ferramentas-box {
    background-color: #F6C0CE;
    width: 15vw;
    height: 94vh;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    font-family: "Orbitron";
    font-weight: bolder;
}

.navbar-nav{
    width: 25%;
}

.btn-header{
    width: 120px;
}

.navbar-brand{
    color: #fff;
} 
.btn-header{
    background-color: var(--botao);
    color: #fff;
    font-weight: bolder;
}

.canvas-box{
    margin: 20px;
    border-style: double;
    border-width: 5px;
    border-color: #a96da3;
    height: 90vh;
    width: 90%;
}

.canvas{
    height: 100%;
    width: 100%;
}

.container-fluid{
    display: flex;
    flex-direction: row;
}

.color-button {
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
    margin-bottom: 1vh;
}

.color-container {
    padding: 5px;
    align-items: center;
}

.size-button {
    background-color: gray;
    margin-bottom: 1vh; 
}

/*Para celulares*/
@media(min-width: 320px) and (max-width: 767px ) {
    
}

/* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px) {}

/* 1024px - 1200px = desktop menores */
@media (min-width: 769px) and (max-width: 1023px) {}

/* Telas maiores*/
@media (min-width: 1024px) {}