.titulo-logo {
    font-size: 100%;
}

.ferramentas-box{
    background-color: #F6C0CE;
    width: 15vw;
    height: 94vh;
    padding: 10px;
}

.btn-purple{
    background-color: purple;
    color: #fff;
}

.navbar-nav{
    width: 25%;
}

.btn-header{
    width: 120px;
}

.navbar-brand{
    color: #fff;
} 
.btn-header{
    background-color: var(--botao);
    color: #fff;
    font-weight: bolder;
}

.canvas-box{
    margin: 20px;
    background-color: #fff;
    height: 90vh;
    width: 90%;
}

.canvas{
    height: 100%;
    width: 100%;
}

.container-fluid{
    display: flex;
    flex-direction: row;
}
.color-button{
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
}

.size-button{
    background-color: gray;
}