body{
    font-family: "Orbitron";
    font-weight: bolder;
}

.navbar-nav{
    width: 25%;
}

.btn-header{
    width: 120px;
}

.navbar-brand{
    color: #fff;
} 
.btn-header{
    background-color: var(--botao);
    color: #fff;
    font-weight: bolder;
}

img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: start;
    padding: 10px;
    width:180px;

}

.user-options.show {
    display: block;
}

.user-options ul{
    margin: 0;
    padding: 0;
    background-color: #550047;
    width: 90%;
}

.div-form{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.div-form form {
    padding: 20px;
    background-image: url('../img/tela-login.png');
    width: 350px;
    max-width: 90%;
    border-radius: 15px;
    color: #fff;
}

#image_user {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
/* 
.btn{
    border-radius: 25px;
    background-color: #A96DA3;
    border-style: none;
    width: 50%;
    height: 45px;
    color: aliceblue;
    margin: 30px auto;
} */