:root {
    --fundo: #fff;
    --header: #a96da3;
    --botao: purple;
    --fontecolor: #17182b;
    --fundocanva: #a96da3;
}

.darkmode {
    --fundo: #17182B;
    --header: #5A2C62;
    --botao: purple;
    --fontecolor: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header {
    align-content: center;
    background-color: var(--header);
}

main {
    height: 94vh;
    background-color: var(--fundo);
    color: var(--fontecolor);
}

.orbitron-font {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    color: white;
  }

.user-dropdown {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.user-dropdown > ul {
    margin: auto;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    gap: 10px;
}