<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/editar.css">

    <link rel="shortcut icon" type="image/x-icon" href="../img/logo3.png">
    <title>Paintopia</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand orbitron-font" href="/criacao">Paintopia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

                    <div class="navbar-nav d-flex align-items-center justify-content-around gap-3">
                        <button class="btn btn-header rounded-pill orbitron-font" id="darkModeToggle">dark</button>

                        <img id="user-avatar" src="./img/usuario.png" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <div class="user-options  user-dropdown" id="user-options">
                            <ul type="none">
                                <li> <a href="/criacao" id="backcreate">Criar</a></li>
                                <li> <a href="/" id="logout">Sair</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <h1 class="text-center">Altere suas informações de usuario:</h1>
        </div>
        <div class="div-form " img="./img/usuario.png">
            <form class="form1" action="/editar" method="post">
                <div class="mb-3 d-flex flex-column">
                    <label for="flImage" style="align-self: center;cursor: pointer;">
                        <img src="./img/usuario.png" alt="" id="image_user">
                    </label>
                    <input type="file" id="flImage" name="foto" accept="image/*" style="display: none;">

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label ">Alterar e-mail</label>
                        <input type="email" class="form-control" idamp="exleFormControlInput1"
                            value="<%=  user.Email %>" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Alterar nome</label>
                        <input type="text" class="form-control" idamp="exleFormControlInput1"
                            value="<%=  user.Usuario %>" name="usuario" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">Alterar senha</label>
                        <input type="password" id="inputPassword5" class="form-control"
                            aria-describedby="passwordHelpBlock" name="senha" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">Confirmar senha</label>
                        <input type="password" id="inputPassword5" class="form-control"
                            aria-describedby="passwordHelpBlock" name="senhaConfirmar" required>
                    </div>
                    <button id="btneditar" class="btn2 btn-primary" type="submit">Salvar</button>
                    <button  type="button" id="btndelete" class="btn3 btn-primary " data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Excluir</button>
            </form>
             
           

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="color:black">
                                Tem certeza que deseja excluir a conta?
                                Seus dados serão perdidos!
                            </div>
                            <div class="modal-footer">
                                <form action="/delete" method="post" class="modal-form">
                                    <button type="button" class="btn2 btn-secondary" data-bs-dismiss="modal">Não</button>
                                    <button class="btn3 btn-primary" type="submit">Sim, excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </main>
    <script src="js/script.js"></script>
    <script src="js/editar.js"></script>
</body>

</html>